#root {
  max-width: 1120px;
  margin: 0 auto;
  text-align: center;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 48px 55px;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 40px;
  padding-bottom: 140px;
}
