.header {
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__content {
  max-width: 1020px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
